{% extends 'authentication.html.twig' %}
{% block title %}
    {{ parent() }}|Log In
{% endblock %}
{% block stylesheets %}
    {{ parent() }}   
{% endblock %}
{% block content %}
    <div class="login-box">
      <div class="login-logo">
        <a><b>Gestion</b> Carnet Adresse</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">          
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
    {% trans_default_domain 'FOSUserBundle' %}
    <p class="login-box-msg">Connectez-vous pour commencer votre session</p>
    {% if error %}
        <div class="alert alert-danger alert-dismissable">           
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">            
            <input type="password" class="form-control" id="password" name="_password" required="required" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">                       
                <div class="checkbox icheck">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" >{{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
                <input type="submit" class="btn btn-primary btn-block btn-flat" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />              
            </div><!-- /.col -->
        </div>
    </form>               
     <a href="{{path('fos_user_registration_register')}}" class="text-center">Nouveau compte</a>
{% endblock %}
{% block javascript %}
    {{ parent() }}
     <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
{% endblock %}